<h1 class="text-center mt-3">Editing task</h1>
<%= render 'form', post: @post %>

<div class="d-flex justify-content-around">
  <%= link_to 'Show', @post, class: "btn btn-light btn-lg" %>
  <%= link_to 'Back', posts_path, class: "btn btn-light btn-lg" %>
</div>
